*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 100vh;
}

.app{
    height: 100%;
    width: 100dvw;
    background-color: #f6f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.form-group{
    width: 46%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 2px 2px 4px #d4d2d2;
    border-radius: 15px;
}

.form-group h1{
    font-size: 25px;
    padding: 20px 0;
    font-weight: 600;
    text-decoration: underline;
}

.form-group .welcome{
    padding: 5px 0;
}
.form-group .welcome p{
    font-size: 20px;
}

.form-group .welcome div{
    margin: 20px 0;
}

.profile .user-info{
   
}

.profile .user-info h4, h1{
    padding: 10px 0;
    font-size: 20px;
    font-weight: 100;
    word-spacing: .05em;
}

input{
    display: block;
    width: 97%;
    margin: 12px auto;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border-color: aqua;
}

input:focus{
    outline-color: green;
    border: none;
    border-radius: 5px;
}

label{
    width: 97%;
    margin: 0 12px;
    font-size: 16px;

}

button{
    margin: 10px 12px;
    padding: 8px 13px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    opacity: .7;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: #333;
    opacity: .8;
}

ul{
    list-style: none;
    padding: 5px 0;
}

.tasks li{
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #ccc7c7;
    padding: 20px 10px;
   margin: 10px 0;
}